body{
	text-align:center;
}
#box{
	display:block;
	text-align:center;
	border:1px blue solid;
	background:-webkit-radial-gradient(center, circle, red 0%, orange 50%);//linear(top, black, white)
	width:500px;
	margin:20px auto;
	padding:5px;
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgba(110, 110, 110, .6) 10px 10px 10px;
}
#text{
	font:bold 30px century Gothic;
	text-shadow:rgb(110, 110, 110) 3px 3px 5px;
}