#mommy{
	border:2px solid blue;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	width:700px;
	height:300px;
	-webkit-box-align:center;
}

#kite1{
	background:green;
	border:black 1px solid;
	padding:20px;
	margin:10px;
	width:60px;
	height:100px;

}
#kite2{
	background:red;
	border:black 1px solid;
	padding:20px;
	margin:10px;
	width:60px;
	-webkit-box-flex:1;
	height:100px;

}
#kite3{
	background:yellow;
	border:black 1px solid;
	padding:20px;
	margin:10px;
	width:60px;
	height:100px;

}
#kite4{
	background:orange;
	border:black 1px solid;
	padding:20px;
	margin:10px;
	width:60px;
	height:100px;

}

